.dict-header, h1 {
    font-weight: 200!important;
}

h1 {
    margin-bottom: 1rem!important;
}

.input-form {
    width: 100%;
}

/* sm */
@media (max-width: 768px) {
    h1 {
        padding: 1rem;
    }
    .input-form {
        margin: 1rem;
    }

}